body{
    background-color: beige;
}
h1{
    color:rgb(219, 126, 163);
    font-size: 40px;
    text-align: left;
    font-family: Arial, sans-serif;
    height: 0%;
}
#navbar{
    font-size: 20px;
    font-family: Arial, sans-serif;
    height: 60%;
    text-align: right;
}
a{
    margin: 20px;
    text-decoration: none;
    color: rgb(108, 26, 7);
    text-decoration: underline; ;
}
#head{
    font-size: 25px;
    font-family:Roboto;
    color: navy;
    text-align: center;
}  
#intro{
    line-height: 1.6;
    font-family: Arial, sans-serif;
    margin: 20px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
}
.p{
    font-family: Arial, sans-serif;
    text-align: justify;
    line-height: 25px;
    margin: 60px;
}
.project{
    display: flex;
    gap: 25px;
    border-style: dashed;
    border: 10px;
    border-color: black;
    border-radius: 10px;
}
